<div class="footer">
    <div class="footer-content">
        <h3>SANTORO, HERRERA & ANDRIES ADVOGADOS</h3>
        <p style="font-size: 20px;">Alameda Santos, 1.165 | São Paulo | 01419-002</p>
        <ul class="sociais">
            <li>
                <a href="https://mail.google.com/mail/u/0/#inbox?compose=CllgCJTKWbVnQGRHPCrTNlSxPnpQVdJkqVzgWLnKCVPHCQDwkmbbPjQJHrDvhbwmFFFlgPkWgdV" target="_blank"><i class="fa fa-envelope" aria-hidden="true"> contato@santoroadv.com.br
                </i>
            </a>
        </li> 
            <li>
                <a href="+551155759533"><i class="fa fa-phone" aria-hidden="true">

                </i>
                    +55 11 5575-9533</a>
                </li>
        </ul>
    </div>
        <div class="footer-bottom">
            <p>copyright &copy;2022 SANTORO, HERRERA & ANDRIES.</p>
        </div>
</div>
