<div class="footer" style="margin-top: 3.5%;">
    <div class="footer-content">
        <img src="\assets\capa-dourada-4.png" alt="">
        <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis hic earum, fugiat quam labore et nihil dolores doloremque assumenda perspiciatis mollitia adipisci officiis. Nulla unde ut consequatur necessitatibus ipsam commodi?</P>
        <ul class="sociais">
            <li><a href="#"><i class="pi pi-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="pi pi-linkedin" aria-hidden="true"></i></a></li>
            <li><a href="https://web.whatsapp.com/send?phone=5511911450144"><i class="pi pi-whatsapp" aria-hidden="true"></i></a></li>
        </ul>
    </div>
        <div class="footer-bottom">
            <p>copyright &copy;2022 BRONZATTICODE.</p>
        </div>
</div>