<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.scss">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Amiri&display=swap" rel="stylesheet">
  <title>ALVES, SOUZA E CASTRO</title>
</head>

<body>
  <div class="toolbar" role="banner">
    <img alt="ALVES, SOUZA E CASTRO" src="../assets/logo-dourado.png" style="    
    position: relative;
    width: 4%;
    height: auto;
    left: 3%;
    margin-top: 0.1%;" />
    <div class="spacer"></div>
  </div>

  <app-menu></app-menu>
</body>

</html>