h1 {
    color: #ffff;
    text-align: center;
}

p {
    color: rgb(185, 174, 174);
    text-align: center;
    font-family: "Amiri", serif;
}

img {
    width: 204vh;
    height: 94vh;
    margin-left: 0.1%;
    margin-top: 6%;
}

// @media (max-width: 1710px) {
//     img {
//         width: 78%;
//         height: auto;
//         margin-left: 7%;
//         margin-top: 6%;
//     }
// }

// @media (max-width: 1629px) {
//     img {
//         width: 77%;
//         height: auto;
//         margin-left: 5%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1570px) {
//     img {
//         width: 76%;
//         height: auto;
//         margin-left: 5%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1514px) {
//     img {
//         width: 75%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }

// @media (max-width: 1478px) {
//     img {
//         width: 74%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1458px) {
//     img {
//         width: 73%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1438px) {
//     img {
//         width: 72%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1420px) {
//     img {
//         width: 71%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1402px) {
//     img {
//         width: 70%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1383px) {
//     img {
//         width: 69%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1363px) {
//     img {
//         width: 68%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1347px) {
//     img {
//         width: 67%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1328px) {
//     img {
//         width: 66%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }

// @media (max-width: 1310px) {
//     img {
//         width: 65%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1285px) {
//     img {
//         width: 64%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }

// @media (max-width: 1271px) {
//     img {
//         width: 64%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1247px) {
//     img {
//         width: 62%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }

// @media (max-width: 1234px) {
//     img {
//         width: 61%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }

// @media (max-width: 1208px) {
//     img {
//         width: 60%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1194px) {
//     img {
//         width: 59%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1171px) {
//     img {
//         width: 58%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1153px) {
//     img {
//         width: 57%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1135px) {
//     img {
//         width: 56%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1116px) {
//     img {
//         width: 55%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1096px) {
//     img {
//         width: 54%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1078px) {
//     img {
//         width: 53%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1060px) {
//     img {
//         width: 52%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1041px) {
//     img {
//         width: 51%;
//         height: auto;
//         margin-left: 4%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1025px) {
//     img {
//         width: 50%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 1007px) {
//     img {
//         width: 50%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 998px) {
//     img {
//         width: 49%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 969px) {
//     img {
//         width: 48%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }

// @media (max-width: 946px) {
//     img {
//         width: 47%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 927px) {
//     img {
//         width: 46%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 908px) {
//     img {
//         width: 45%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }

// @media (max-width: 893px) {
//     img {
//         width: 44%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }

// @media (max-width: 870px) {
//     img {
//         width: 43%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 850px) {
//     img {
//         width: 42%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 836px) {
//     img {
//         width: 41%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 813px) {
//     img {
//         width: 40%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }

// @media (max-width: 797px) {
//     img {
//         width: 39%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }

// @media (max-width: 779px) {
//     img {
//         width: 38%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }

// @media (max-width: 761px) {
//     img {
//         width: 37%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }

// @media (max-width: 741px) {
//     img {
//         width: 36%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 722px) {
//     img {
//         width: 35%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 704px) {
//     img {
//         width: 34%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 685px) {
//     img {
//         width: 33%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 666px) {
//     img {
//         width: 32%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 648px) {
//     img {
//         width: 31%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 629px) {
//     img {
//         width: 30%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 609px) {
//     img {
//         width: 29%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 590px) {
//     img {
//         width: 28%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 570px) {
//     img {
//         width: 27%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 553px) {
//     img {
//         width: 26%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 534px) {
//     img {
//         width: 25%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 514px) {
//     img {
//         width: 24%;
//         height: auto;
//         margin-left: 3%;
//         margin-top: 6%;
//     }
// }
// @media (max-width: 500px) {
//     img {
//         width: 23%;
//         height: auto;
//         margin-left: 2%;
//         margin-top: 6%;
//     }
// }