h1 {
    color: #ffff;
    text-align: center;
}

p {
    color: rgb(185, 174, 174);
    text-align: center;
    font-family: "Amiri", serif;
}

img {
    width: 75%;
    height: auto;
    margin-left: 13%;
    margin-top: 6%;
}

@media (max-width: 1710px) {
    img {
        width: 68%;
        height: auto;
        margin-left: 8%;
        margin-top: 6%;
    }
}

@media (max-width: 1464px) {
    img {
        width: 63%;
        height: auto;
        margin-left: 5%;
        margin-top: 6%;
    }
}

@media (max-width: 1310px) {
    img {
        width: 68%;
        height: auto;
        margin-left: 8%;
        margin-top: 6%;
    }
}

@media (max-width: 1024px) {}

@media (max-width: 1003px) {}

@media (max-width: 960px) {}

@media (max-width: 880px) {}

@media (max-width: 840px) {}

@media (max-width: 790px) {}

@media (max-width: 760px) {}

@media (max-width: 735px) {}

@media (max-width: 720px) {}

@media (max-width: 660px) {}

@media (max-width: 500px) {}