h1 {
    color: #ffff;
    text-align: center;
}

::ng-deep.p-component {
    width: 39%;
    text-align: justify;
    margin-left: 48%;
    color: #c5c4c4;
    margin-top: -14%;

}

p {
    text-align: justify;
    font-family: "Amiri", serif;
}

::ng-deep.p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 1.25rem;
    border: 1px solid #85868b;
    background: #06162D;
    color: #c5c4c4;
}