
<div class="form-update-socio">
    <form *ngIf="socio" >
        <div >
            <label>Nome</label>
            <input [(ngModel)]="socio.nome" placeholder="Nome" />
        </div>

        <div  >
            <label >Curriculo Pt-BR</label>
            <textarea [(ngModel)]="socio.curriculoPtbr" placeholder="" > </textarea>
        </div>
        <div  >
            <label >Curriculo En</label>
            <textarea [(ngModel)]="socio.curriculoEn" placeholder=""> </textarea>
        </div>
        <div>
            <label >Curriculo Es</label>
            <textarea [(ngModel)]="socio.curriculoEs" placeholder=""> </textarea>
        </div>
        <button (click)="updateSocio(socio)">Salvar</button>

    </form>
</div>