<div class="form-update-socio">
    <form>
        <div >
            <label style="color: white;"></label>
            <input type="text" placeholder="nome">
        </div>
        <div  >
            <label style="color: white;"></label>
            <input type="text" placeholder="Email">
        </div>
        <div  >
            <label style="color: white;"></label>
            <textarea placeholder="Curriculo ES "></textarea>
        </div>
        <div  >
            <label style="color: white;"></label>
            <textarea placeholder="Curriculo ES "></textarea>
        </div>
        <div style="flex-direction:row ;">
            <label style="color: white;">Curriculo Es</label>
            <textarea placeholder="Curriculo ES "></textarea>
        </div>
        <button (click)="updateSocio(socio)">Salvar</button>

    </form>
</div>