* {
    margin: 5px;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(7, 7, 70);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-update-socio{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: rgb(7, 7, 70);

}

label{
    color:white;
}

