div,
section,
span,
ul,
li,
a {
    box-sizing: border-box;
    margin-inline-start: 32%;
    margin-top: 43px;
}
p{
    font-family: "Amiri", serif;
}

.menu{
    position: fixed;
    z-index: 999;
    
}

#home li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#home li a {
    color: #fff;
    // color: #06162D;
    text-decoration: none;
    font-size: 20px;
}

section {
    width: 100%;
    float: left;
    height: auto;
    position: relative;
    width: 1900px !important;

}

#id {
    position: fixed;


}

// #home {
// }

#sobre {
    font-size: 24px;
    line-height: 29px;


    .texto {
        color: #fff;

        h1 {
            margin-top: -12%;
        }

        p {
            margin-top: 20%;
            margin-left: 27%;
            font-size: 1.5rem;
        }
    }
}

#atuacao {
    font-size: 24px;
    line-height: 29px;

    h1 {
        color: #fff;

    }

}

#socios {
    font-size: 24px;
    line-height: 29px;

    h1 {
        color: #fff;
    }

    p {
        text-align: justify;
    }
}

#contato {
    font-size: 24px;
    line-height: 29px;

    h1 {
        color: #fff;
    }

}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-menu {

    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}
@media (max-width: 1600px) {
.menu{
    margin-inline-start: 30%;
}    

}
@media (max-width: 1024px) {


  }
  
  @media (max-width: 990px) {

  }
  
  @media (max-width: 960px) {
  
  }
  
  @media (max-width: 880px) {

  }
  
  @media (max-width: 860px) {
  

  }
  
  @media (max-width: 830px) {
  
  }
  
  @media (max-width: 790px) {

  }
  
  @media (max-width: 760px) {
  

  }
  
  @media (max-width: 735px) {
 
  }
  
  @media (max-width: 720px) {

  }
  
  @media (max-width: 660px) {
  
  }
  
  @media (max-width: 500px) {
  
  }