div,
section,
span,
ul,
li,
a {
    box-sizing: border-box;
    margin-inline-start: 32%;
    margin-top: 43px;
}

p {
    font-family: "Amiri", serif;
}

.menu {
    position: fixed;
    z-index: 999;
}

#home li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#home li a {
    color: #fff;
    // color: #06162D;
    text-decoration: none;
    font-size: 20px;
}

section {
    width: 100%;
    float: left;
    height: auto;
    position: relative;
    width: 1900px !important;
    scroll-behavior: smooth;
}

#id {
    position: fixed;
}

// #home {
// }
#sobre {
    font-size: 24px;
    line-height: 29px;
    .texto {
        color: #fff;
        h1 {
            margin-top: -12%;
        }
        p {
            margin-top: 20%;
            margin-left: 27%;
            font-size: 1.5rem;
        }
    }
}

#atuacao {
    font-size: 24px;
    line-height: 29px;
    h1 {
        color: #fff;
    }
}

#socios {
    font-size: 24px;
    line-height: 29px;
    h1 {
        color: #fff;
    }
    p {
        text-align: justify;
    }
}

#contato {
    font-size: 24px;
    line-height: 29px;
    h1 {
        color: #fff;
    }
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-menu {
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 1600px) {
    .menu {
        margin-inline-start: 30%;
    }
    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1900px !important;
    }
}

// @media (max-width: 1200px) {
//     .menu {
//         margin-inline-start: 24%;
//     }
//     section {
//         width: 100%;
//         float: left;
//         height: auto;
//         position: relative;
//         width: 1900px !important;
//     }
// }

// @media (max-width: 1024px) {
//     .menu {
//         margin-inline: 23%;
//         margin-left: 216px;
//         margin-block: -49px;
//     }
//     section {
//         width: 100%;
//         float: left;
//         height: auto;
//         position: relative;
//         width: 1900px !important;
//     }
// }

// @media (max-width: 1003px) {
//     .menu {
//         margin-inline: 21%;
//         margin-left: 202px;
//         margin-block: -30px;
//     }
    // #home {
    //     font-size: 20px;
    // }
    // #sobre {
    //     font-size: 20px;
    // }
    // #atuacao {
    //     font-size: 20px;
    // }
    // #socios {
    //     font-size: 20px;
    // }
    // #contato {
    //     font-size: 20px;
    // }
//}

@media (max-width: 1900px) {
    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1900px !important;
    }
}
@media (max-width: 1850px) {
    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1850px !important;
    }
}
@media (max-width: 1800px) {
    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1800px !important;
    }
}
@media (max-width: 1750px) {
    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1750px !important;
    }
}
@media (max-width: 1700px) {
    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1700px !important;
    }
}
@media (max-width: 1650px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1650px !important;
    }
}
@media (max-width: 1600px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1600px !important;
    }
}
@media (max-width: 1550px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1550px !important;
    }
}
@media (max-width: 1500px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1500px !important;
    }
}
@media (max-width: 1450px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1450px !important;
    }
}
@media (max-width: 1400px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1400px !important;
    }
}
@media (max-width: 1300px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1300px !important;
    }
}
@media (max-width: 1250px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1250px !important;
    }
}
@media (max-width: 1200px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1200px !important;
    }
}
@media (max-width: 1150px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1150px !important;
    }
}
@media (max-width: 1100px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1100px !important;
    }
}
@media (max-width: 1050px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1050px !important;
    }
}
@media (max-width: 1000px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 1000px !important;
    }
}
@media (max-width: 950px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 950px !important;
    }
}
@media (max-width: 900px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 900px !important;
    }
}
@media (max-width: 850px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 850px !important;
    }
}
@media (max-width: 800px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 800px !important;
    }
}
@media (max-width: 750px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 750px !important;
    }
}
@media (max-width: 700px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 700px !important;
    }
}
@media (max-width: 650px) {
    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 650px !important;
    }
}
@media (max-width: 600px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 600px !important;
    }
}
@media (max-width: 550px) {

    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 550px !important;
    }
}
@media (max-width: 500px) {
    section {
        width: 100%;
        float: left;
        height: auto;
        position: relative;
        width: 500px !important;
    }
}