div,
section,
span,
ul,
li,
a {
    box-sizing: border-box;
    margin-inline-start: 32%;
    margin-top: 43px;
}

p {
    font-family: "Amiri", serif;
}

.menu {
    position: fixed;
    z-index: 999;
}

#home li {
    list-style: none;
    display: inline-block;
    margin: 20px;
}

#home li a {
    color: #fff;
    // color: #06162D;
    text-decoration: none;
    font-size: 20px;
}

section {
    width: 100%;
    float: left;
    height: auto;
    position: relative;
    width: 1900px !important;
}

#id {
    position: fixed;
}

// #home {
// }
#sobre {
    font-size: 24px;
    line-height: 29px;
    .texto {
        color: #fff;
        h1 {
            margin-top: -12%;
        }
        p {
            margin-top: 20%;
            margin-left: 27%;
            font-size: 1.5rem;
        }
    }
}

#atuacao {
    font-size: 24px;
    line-height: 29px;
    h1 {
        color: #fff;
    }
}

#socios {
    font-size: 24px;
    line-height: 29px;
    h1 {
        color: #fff;
    }
    p {
        text-align: justify;
    }
}

#contato {
    font-size: 24px;
    line-height: 29px;
    h1 {
        color: #fff;
    }
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-menu {
    cursor: pointer;
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
}

@media (max-width: 1600px) {
    .menu {
        margin-inline-start: 30%;
    }
}

@media (max-width: 1200px) {
    .menu {
        margin-inline-start: 24%;
    }
}

@media (max-width: 1024px) {
    .menu {
        margin-inline: 23%;
        margin-left: 216px;
        margin-block: -49px;
    }
}

@media (max-width: 1003px) {
    .menu {
        margin-inline: 21%;
        margin-left: 202px;
        margin-block: -30px;
    }
    // #home {
    //     font-size: 20px;
    // }
    // #sobre {
    //     font-size: 20px;
    // }
    // #atuacao {
    //     font-size: 20px;
    // }
    // #socios {
    //     font-size: 20px;
    // }
    // #contato {
    //     font-size: 20px;
    // }
}

@media (max-width: 960px) {
    .menu {
        margin-inline: 20%;
        margin-left: 144px;
        margin-block: -30px;
    }
}

@media (max-width: 880px) {
    .menu {
        margin-inline: 19%;
        margin-left: 123px;
        margin-block: -30px;
    }
}

@media (max-width: 840px) {
    .menu {
        margin-inline: 18%;
        margin-left: 105px;
        margin-block: -30px;
    }
}

@media (max-width: 790px) {}

@media (max-width: 760px) {}

@media (max-width: 735px) {}

@media (max-width: 720px) {}

@media (max-width: 660px) {}

@media (max-width: 500px) {}