<section id="home">
  <header>
    <!-- <div>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
    </div> -->
    <ul class="menu" style="margin-left: 66.5%; margin-top: -0.3%;">
      <li><a href="#home">Home</a></li>
      <li><a href="#sobre" style=" margin-left: 1px;">Sobre nós</a></li>
      <li><a href="#atuacao" style="margin-left: -10px;">Atuação</a></li>
      <li><a href="#socios">Sócios</a></li>
      <li><a href="#contato">Contato</a></li>
    </ul>
  </header>
</section>
<section id="home">
  <app-home></app-home>
</section>
<section id="sobre">
  <app-sobre></app-sobre>
</section>
<section id="atuacao">
  <app-atuacao></app-atuacao>
</section>
<section id="socios">
  <app-socios></app-socios>
</section>
<section id="contato">
 <app-contato></app-contato>
</section>