h1 {
    color: #ffff;
    text-align: center;
}
p{
    color: #b9aeae;
    text-align: center;
    margin-left: 10%;
    margin-right: 42%;
    font-family: "Amiri", serif;
}

img{
    width: 21%;
    height: auto;
    margin-top: -6%;
    margin-left: 64%;
    border-radius: 9%;
}