<h1>Áreas de atuação</h1>
<br>
<div class="text">
  <div class="atuacao">
    <p-accordion >
        <p-accordionTab header="Direito Civil, Processo Civil e Direito Contratual" [selected]="true" style="text-align: center;">
          <p>Processos administrativos e judiciais em todas a instâncias e Tribunais.
            <br>
            Elaboração de contratos em geral.
            <br>
            Litígios de natureza cível: relações de consumo, Lei Ferrari, responsabilidade civil e ações de indenização.</p>
        </p-accordionTab>
        <p-accordionTab header="Direito Desportivo">
          <p>Constituição de clubes-empresa.
            <br>
            Adequação dos estatutos dos clubes e federações.
            <br>
            Investimentos no esporte.
            <br>
            Contratos de patrocínio,parceria e licenciamento.
            <br>
            Branding e merchandising.
            <br>
            Relações trabalhistas entre clubes e atletas.
            <br>
            Contrato de licença de uso de imagem.
            <br>
            Contrato de trabalho desportivo.
            <br>
            Contrato de formação de atletas
            <br>
            Contrato de representação e agenciamento de carreira.
            <br>
            Assessoramento em transferências nacionais e internacionais.
            <br>
            Normas da FIFA e CBF.
            <br>
            Procedimentos perante a FIFA e junto ao Tribunal Arbitral do Esporte (Suiça).
            <br>
            Mediação e arbitragem em litígios esportivos.</p>
        </p-accordionTab>
        <p-accordionTab header="Direito de Família e Sucessões">
          <p>Elaboração de pactos antenupciais, de contratos de união estável e de união homoafetiva.
            <br>
            Divórcio judicial e extrajudicial (incluindo partilha de bens)
            <br>
            Ações para fixação, revisão e exoneração e execução de alimentos.
            <br>
            Reconhecimento e dissolução de união estável e união homoafetiva.
            <br>
            Elaboração de testamento, privado e público.
            <br>
            Inventário Judicial e Extrajudicial (litigioso e consensual).
            <br>
            Retificação de registro civil.
            <br>
            Homologação de sentença estrangeira.
            <br>
            Ação de guarda, regulamentação de convivência, busca e apreensão.
            <br>
            Reconhecimento de paternidade/maternidade e investigação.
            <br>
            Acompanhamento em mediações</p>
        </p-accordionTab>
      </p-accordion>
  </div>

</div>