<div class="container">
  <h1>Áreas de Atuação</h1>
  <img src="../assets/balanca.jpg" alt="">
  <div class="text">
    <div class="atuacao">


      <!-- <div class="saude" >
        <a routerLink="/sobre" target="_blank">
          Direito à Saúde
          <i class="pi pi-angle-double-right"></i>
        </a>
      </div>
      <div class="medico" >
        <a routerLink="/sobre" target="_blank">
          Direito Médico
          <i class="pi pi-angle-double-right"></i>
        </a>
      </div>
    </div> -->
  
  </div>
</div>