<div class="texto">
  <h1> Quem somos? </h1>
  <img src="../assets/mockup1.jpg" alt="">
  <p>O escritório Alves, Souza & Castro  Advocacia Consultoria Jurídica conta com uma equipe especializada em Direito Médico e da Saúde com atuação em todo o território nacional.
   
    <!-- <br>
    Com experiência na condução de mediações judiciais, extrajudiciais e administrativas junto ao Poder Público, protegendo os interesses dos pacientes junto aos Planos de Saúde e Sistema Único de Saúde (SUS) de maneira humanizada e personalizada, respeitando as peculiaridades das demandas de cada cliente e tendo por objetivo garantir o acesso à saúde digna e de qualidade. 
    <br>
    <br>
    Atua também de forma preventiva, consultiva, regulatória, sanitária, contenciosa e administrativa para instituições e profissionais da área da saúde. -->
  </p>

  <div class="ler" >
    <a routerLink="/sobre" target="_blank">
      Ler mais
      <i class="pi pi-angle-double-right"></i>
    </a>
  </div>
 
</div>