<div class="texto">
  <h1> Sobre nós</h1>
  <br>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, voluptas nam! <br> Quia assumenda laudantium
    aliquid, nisi earum fuga ab vel perferendis, tempora amet labore natus, <br> expedita cum nostrum repellat
    rerum!Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias delectus odio magnam a expedita hic nam facere? Officiis perferendis neque libero dignissimos exercitationem, nostrum eaque, facere, illo iure numquam blanditiis?
  </p>
  <img src="../assets/Foto3.jpg" alt="">
</div>