h1{
    color: #ffff;
    text-align: center;
}
p{
    color: rgb(185, 174, 174);
    text-align: center; 
    margin-left: 34%;
    margin-right: 10%;
    font-family: "Amiri", serif;
}
img{
    width: 21%;
    height: auto;
    margin-top: -10%;
    margin-left: 11%;
    border-radius: 9%;
}