/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
    //background-color: #192033;
    font-family: 'Open Sans', sans-serif;
    background-image: url('../src/assets/ASC---fundo-1.png');
}
html {
    scroll-behavior: smooth;
}

@media(max-width: 768px) {
    *{
        padding: 20px 0;
    }
}