/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
body{
    background-color: #06162D;
    font-family: 'Amiri', serif;
}
html {
    scroll-behavior: smooth;
}

@media(max-width: 768px) {
    *{
        padding: 20px 0;
    }
}